[Unit]
Description=GitCloneService
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
ExecStartPre=/bin/sleep 30
ExecStart=/home/pi/gitclone.sh

[Install]
WantedBy=multi-user.target
