[Unit]
Description=GitPullService
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/shared/rotary-box-rpi/gitpull.sh

[Install]
WantedBy=multi-user.target
