[Unit]
Description=ResetButtonService

[Service]
Type=simple
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/resetbutton.py

[Install]
WantedBy=multi-user.target
