[Unit]
Description=ResetButtonService

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/rotary-box-rpi/resetbutton.py

[Install]
WantedBy=multi-user.target
